.folder-grid {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space; Evenly distribute items horizontally */
  }
  
  .folder-item {
    height: 13vw;
    width: 15vw; /* Adjust the width of each item as needed */
    background-color: #c1d5e8; /* Background color for each item */
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 10px; /* Adjust the margin between items as needed */
    padding: 10px;
    text-align: center;
  }
  
  .folder-icon {
    font-size: 24px; /* Adjust the icon size */
    color: #007bff; /* Icon color */
  }
  
  .folder-name {
    font-weight: bold;
    margin-top: 10px; /* Adjust the space between icon and name */
  }